page-playlist {
    ion-list-header{
        background-color: white !important;
        margin-top:25px;
   }
   ion-content { background-color: transparent !important; }

   ion-item {
    height:55px !important;
    }   
}
