<ion-header>
  <ion-navbar>
    <ion-title>
        Notifications
    </ion-title>
    <ion-buttons start>
        <button ion-button (click)="dismiss()">
          <span ion-text color="primary" showWhen="ios">Back</span>
          <ion-icon name="md-close" showWhen="android, windows"></ion-icon>
        </button>
    </ion-buttons>
    
  </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-card *ngIf="notifications.length == 0">
        <ion-card-header>
            You have no notifications in your list?
          </ion-card-header>
        <ion-card-content>
            Search for videos and start sharing with your friends
      </ion-card-content>
    </ion-card>


    <ion-list>
        <ion-item text-wrap *ngFor="let notification of  notifications"  (click)="loadingVideo(notification)" >
          <ion-thumbnail item-start > 
              <button center text-center *ngIf="notification.watched == 0">
                  <ion-icon style="margin-top:5px;font-size:25px;color:rgb(52, 55, 196)" name="ios-musical-notes" ></ion-icon>
                  <ion-icon style="margin-top:5px;font-size:25px;color:rgb(52, 55, 196)" name="star" ></ion-icon>
                </button>
            <img *ngIf="notification.playing == 'false'" src="{{notification.picture}}" >
            <iframe *ngIf="notification.playing == 'true'  && notification.type == 'yt'" clear item-end [src]="notification.ytId | youtube" frameborder="0" width="60" height="60"></iframe> 
          </ion-thumbnail>
          <h3>{{notification.comment}}</h3>
          <p>
              <i>{{notification.username}} - {{notification.time |amTimeAgo}}</i>
          </p>
          <button *ngIf=" notification.type == 'yt' " ion-button item-end small outline (click)="more(notification)">  
            <ion-icon name="more"></ion-icon>
          </button>
          
        </ion-item>
      </ion-list>
</ion-content>
